@import 'reset';
@import 'type';

$brand-color: #F5CB5C;
$brand-color-accent: #242423;
$brand-color-accent-invert: #E8EDDF;

@mixin thick-underline {
  border-bottom: 4px solid $brand-color-accent;
}

@mixin std-underline {
  border-bottom: 2px solid $brand-color-accent;
}

@mixin thin-underline {
  border-bottom: 1px solid $brand-color-accent;
}

@mixin greyscale-hover($percentage) {
  -webkit-filter: grayscale($percentage);
  -webkit-transition: .1s ease-in-out;
  -moz-filter: grayscale($percentage);
  -moz-transition: .1s ease-in-out;
  -o-filter: grayscale($percentage);
  -o-transition: .1s ease-in-out;
}

body {
  font-family: 'Inconsolata', Arial, sans-serif;
  line-height: 1.6em;
  background-color: $brand-color;
  max-width: 90em;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 1em;
}

// trying out referencing parent selectors
a {
  color: $brand-color-accent;
  @include thin-underline;

  &:hover {
    @include std-underline;
    color: $brand-color-accent;
    text-decoration: none;
  }

}

article {
  @include std-underline;
}

b {
  font-weight: 700;
}

em {
  font-style: italic;
}

figcaption {
  text-align: center;
}

figure img {
  width: 100%;
  height: 100%;
}

header {
    @include thick-underline;
}

header h1,
nav {
  display: inline-block;
  margin-bottom: 0;
}

nav ul {
  margin-top: 8.2em;
  margin-bottom: 1em;
}

nav ul li {
  display: inline-block;
  padding: 0 1em 0 1em;
}

header a {
  border-bottom: none;
}


nav li:after {
    content: " / / ";
}

nav li:last-child:after {
    content: "";
}

nav li a:hover {
  border-bottom: 4px solid #CFDBD5;
}


footer {
    padding-top: 1em;
    margin-top: 6em;
}

footer .glyphicon {
  margin-right: 0px;
  font-size: smaller;
}

footer p {
  padding-top: 1em;
}

ul.categories li {
  display: inline-block;
}

figure.project-thumb:hover {
  @include greyscale-hover(0%);
}

figure.project-thumb {
  @include greyscale-hover(100%);
}

blockquote {
  margin: 2em;
  border-left: 4px solid black;
  padding-left: 2em;
  display: block;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 2em;
    -webkit-margin-start: 2em;
    -webkit-margin-end: 2em;
}

li.post-excerpt{
  list-style: none;
}

h4.border-it {
  margin-top: 1em;
}

.active {
  font-weight: 700;
}

h4.blog-cat {
  margin-top: 1.6em;
}

ul.post-list {
  list-style: none;
}

.blog-list-wrap {
  padding-top: 2em;
}

.border2 {
  border-bottom: 2px solid $brand-color-accent;
}

.borderline{
  padding-bottom: 10px;
  @include thin-underline;
}

.border-it {
  border: 2px solid $brand-color-accent;
  padding: 0.25em;
}

.border-low {
  padding-bottom: 2em;
  @include thin-underline;
}

.categories {
  list-style: none;
  display: inline-block;
}

.cat-meta {
  margin-top: 0.66em;
}

.clear-it {
  clear: both;
}

.code-link {
  text-align: center;
}

.faq {
  padding-right: 1.6em;
}

.glyphicon {
  margin-right: 6px;
}

.h2-work {
  margin-top: 0.5em;
}

.img-thumbnail {
  margin-top: 20px;
}

img.img-border {
  margin-top: 2em;
  border: 4px solid $brand-color-accent;
}

.job-bullets {
  margin-bottom: 1em;
}

.job-entry {
  margin-bottom: 2em;
}

.job-tag {
  margin-right: 1em;
}

.job-title {
  @include thick-underline;
}

.no-line {
  text-decoration: none;
  border-bottom: none;
}

.no-line:hover {
  color: $brand-color-accent-invert;
}

.pad-it {
  padding: 0 0.66em;
}

.page-content {           /* override default jekyll main.css */
  padding: 0;
}

.page-title {             /* only used in about section -- maybe rename this */
  margin-top: 0em;
  margin-bottom: 0.4em;
}

.post {
  background-color: white;
  padding: 2em;
  margin-top: 2em;
  border: 4px solid $brand-color-accent;
}

.post-excerpt {
  border-bottom: 2px solid $brand-color-accent;
  background-color: white;
  padding: 2em;
}

.post-excerpt h3 {
  margin-top: 1em;
}

.post-header {
  border-bottom: none;
}

.post-list {
  @include thick-underline;
  background-color: white;
}

.post-list > li {
    margin-bottom: 0;
}

.project-thumb {
  margin-top: 2em;
  border: 4px solid $brand-color-accent;
}

.project-thumb:hover{
  border-color: $brand-color-accent-invert;
}

.push-down {
  margin-bottom: 1em;
}

.push-it-up {
  margin-top: 0.66em;
}

.resume-section {
  margin-top: 0;
}

.resume-push {
  margin-top: 1em;
}

.rss-subscribe {
  margin-top: 1em;
  text-align: center;
}

.single-space {
  margin: 0;
}

.threecol {
  columns: 3;
}

.twocol {
  columns: 2;
}

#bio-photo {
  margin-top: 2em;
  border: 4px solid $brand-color-accent;
}

/* --------- begin @media queries --------- */

@media (max-width: 1245px) {
  nav li:after {
    content: "";
  }
}

@media (max-width: 992px) {
  .page-title {
    margin-top: 2em;
  }

  .recently {
    display: none;
  }

  li {
    margin-left: 2em;
  }

  nav ul {
    margin-top: 2em;
  }
}

@media (max-width: 500px) {
  .threecol {
    columns: 1;
  }
}

@media (max-width: 420px) {
  nav ul li {
    display: inline-block;
    font-size: 1.33em;
    margin-top: 1em;
    padding: 0.5em;

  }

  .blog-list-wrap {
    padding: 0.33em;
  }

  .facts {
    margin-left: 1.3333333333em;
  }

  .post {
    padding: 1em;
  }

  .tags {
    display: none;
  }
}
