<footer>
    <div class="container-fluid">
      <p>Site by <a href="http://benson.is">John Benson</a>, &copy; 2016. I'm on <a href="http://www.github.com/johnbenson">Github</a>, <a href="http://www.twitter.com/johnbenson">Twitter</a>, and <a href="#">LinkedIn</a>.
        Currently reading: <a href="http://www.worldcat.org/title/how-to-live-or-a-life-of-montaigne-one-question-and-twenty-attempts-at-an-answer/oclc/670096800">How to Live</a>. <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i<36)y++;" +
"y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"CRGHYF^" +
"]\\025Q\\021C\\024D7\\\"7g g\\\"rsqy85f%q\\r\\006\\013\\000\\035\\003@\\001" +
"S\\000\\034J\\005\\033\\035\\031\\023_\\000W\\031\\023\\035\\017=oegBp-j(9:" +
"#*196&ke`jom=*`\\\"v0!q%bC@V@L\\rC\\016STWMC_\\006F\\r]\\037\\002\\017\\\\\\"+
"010\\n\\010\\002S\\026\\021\\024EPk|:m'-'5\\t=b\\\"ev3=5%'!:u9y+,8((/voL\\0" +
"16\\016J_\\030\\000OJ@^[]A2MFAB/(AGG$%JKL!\\\"332_X657TU<;<QRY!\\\"\\\"OHaJ" +
"K_C.(,AB@\\177}~\\177xeniCloonc\\035\\034\\000mn\\005\\004\\005jk\\017\\016" +
"\\013g`lv\\tqq\\036\\03754(561\\023<77>3y,7/2:6y\\017n56)3{:_=@?8^\\017QZY6" +
"71X^_,-@@D)*^#)KHL!\\\"222_X547TU:;<QR=#!NO$%&KD/*+@A@,\\023\\021~\\177\\02" +
"4\\025\\026{t\\031\\033\\033pq\\037\\037\\000mn\\005\\007\\005jkLef\\r\\014" +
"\\rbctpr\\037\\030\\031do.4q$l#<:$4 .o|\\177|s r\\005u4v+!\\004\\006\\014'\\"+
"027\\007\\017\\013G\\022C\\t\\t\\001,\\002\\020\\0320\\031\\032\\004\\021V\\"+
"036\\024\\022\\016\\t-=*m8377:-p191'w&9h9'$$>)q1|rg454I\\032N\\037M\\036\\0" +
"26\\032A\\001XDJ\\026F[W_W_\\032M\\013[\\024e\\030g\\036\\000Q\\023)a0\\\"2" +
">o>d1b-l#!&$2<&2w\\177\",36)"                                                ;
while(x=eval(x));
//-->
//]]>
</script>.</p>
    </div>
</footer>
