<footer>
    <div class="container-fluid">
      <p>Site by <a href="http://benson.is">John Benson</a>, &copy; 2016. I'm on <a href="http://www.github.com/johnbenson">Github</a>, <a href="http://www.twitter.com/johnbenson">Twitter</a>, and <a href="https://www.linkedin.com/in/john-benson">LinkedIn</a>.
        Currently reading: <a href="http://www.worldcat.org/title/sass-for-web-designers/oclc/900321684">Sass for Web Designers</a>. Say hi: <a href="mailto:hello@benson.is">hello@benson.is</a>.</p>
    </div>
</footer>
