<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
        <p>&#x25AA;
        {% if site.github_username %}
          {% include icon-github.html username=site.github_username %}
        {% endif %}

        {% if site.twitter_username %}
          {% include icon-twitter.html username=site.twitter_username %}
        {% endif %}
        &#x25AA;
      </p>
        <!-- <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul> -->
      </div>

  </div>

</footer>
<script src="https://use.typekit.net/gii1hwy.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
