<div class="container-fluid">
  <header>
    <div class="row">
      <div class="col-md-8">
        <h1><a href="#">John Benson <small>Web Developer in Metro Detroit</small></a></h1>
      </div>
      <nav class="pull-right col-md-4">
      <ul>
        <li role="presentation"><a href="{{ "../index.html" | prepend: site.baseurl }}">Home</a></li>
        <li role="presentation"><a href="{{ "/coding/index.html" | prepend: site.baseurl }}">Work</a></li>
        <li role="presentation"><a href="{{ "/blogging/index.html" | prepend: site.baseurl }}">Blog</a></li>
        <li role="presentation"><a href="{{ "/a-person/index.html" | prepend: site.baseurl }}">About</a></li>
      </ul>
      </nav>
    </div>
  </header>
</div>
